<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = "#" + page.tag;
    if (page.archive) {
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = __('archive_a');
    }
%>

<div class="archive-header">
    <h1><%- title %></h1>
</div>

<div class="post-list">
    <% page.posts.each(function(item){ %>
    <a class="post-list-item" href="<%- config.root %><%- item.path %>">
        <div>
            <div class="post-list-title"><%- item.title || theme.default_post_title || "Untitled" %></div>
        </div>
        <span class="post-list-date"><%= item.date.format('MMM YYYY') %></span>
    </a>
    <% }); %>
</div>

<div class="post-list">
    <%- partial('_partial/pagination') %>
</div>
