<section class="showcase fade-in">
    <h1><%- config.title %></h1>
    <% if (config.description) { %>
    <p class="subtitle"><%- config.description %></p>
    <% } %>
</section>

<div class="post-list">
    <% page.posts.each(function(item){ %>
    <a class="post-list-item fade-in" href="<%- config.root %><%- item.path %>">
        <div>
            <div class="post-list-title"><%- item.title || theme.default_post_title || "Untitled" %></div>
            <% if (item.subtitle && item.subtitle.length) { %>
            <div class="post-list-subtitle"><%- item.subtitle %></div>
            <% } %>
        </div>
        <span class="post-list-date"><%= item.date.format('MMM YYYY') %></span>
    </a>
    <% }); %>
</div>

<div class="post-list">
    <%- partial('_partial/pagination') %>
</div>
