<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

<%- partial('_partial/head') %>

<body>

    <a href="#main-content" class="skip-link">Skip to content</a>

    <%- partial('_partial/menu') %>

    <main id="main-content">
        <%- body %>
    </main>

    <%- partial('_partial/footer') %>

    <%- partial('_partial/after-footer') %>

</body>

</html>
