<%
    var wordcount = strip_html(item.content).length;
    var readingTime = Math.ceil(wordcount / 1100);
    if (readingTime < 1) readingTime = 1;
%>

<article itemscope itemtype="https://schema.org/BlogPosting">
    <div class="post-container">
        <div class="post-main">
            <header class="post-header">
                <% if (item.categories && item.categories.length) { %>
                <span class="post-category">
                    <% item.categories.forEach(function(cat, idx) { %><%- idx > 0 ? ' / ' : '' %><a href="<%- config.root %><%- cat.path %>"><%= cat.name %></a><% }); %>
                </span>
                <% } %>

                <h1 itemprop="headline"><%- item.title || theme.default_post_title || "Untitled" %></h1>

                <% if (item.subtitle && item.subtitle.length) { %>
                <p class="post-subtitle" itemprop="alternativeHeadline"><%- item.subtitle %></p>
                <% } %>

                <div class="post-meta">
                    <% if (item.date) { %>
                    <span class="post-meta-date">
                        <time datetime="<%= item.date.toISOString() %>" itemprop="datePublished"><%= item.date.format(config.date_format) %></time>
                    </span>
                    <% } %>
                    <span class="post-meta-reading-time"><%= readingTime %> min read</span>
                    <% if (item.tags && item.tags.length) { %>
                    <div class="post-meta-tags">
                        <% item.tags.forEach(function(tag) { %>
                        <a class="tag" href="<%- config.root %><%- tag.path %>">#<%= tag.name %></a>
                        <% }); %>
                    </div>
                    <% } %>
                </div>
            </header>

            <div class="post-body js-post-body" itemprop="articleBody">
                <%- item.content %>
            </div>
        </div>

        <aside class="toc-sidebar" aria-label="Table of contents">
            <div class="toc-title">On this page</div>
            <ul id="toc-list"></ul>
        </aside>
    </div>
</article>
