<% if (page.prev || page.next) { %>
<nav class="pager" aria-label="Pagination">
    <% if (page.prev) { %>
    <a href="<%- config.root %><%- page.prev_link %>">&larr; <%- __('next') %></a>
    <% } else { %>
    <span></span>
    <% } %>
    <% if (page.next) { %>
    <a href="<%- config.root %><%- page.next_link %>"><%- __('prev') %> &rarr;</a>
    <% } else { %>
    <span></span>
    <% } %>
</nav>
<% } %>
